<header>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse font-header">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" id="green-terminal" href={{.Site.BaseURL}}>{{.Site.Params.HeaderUsername}}@{{.Site.Params.HeaderHostname}} ~ $</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{{ .Site.BaseURL }}page/about">~/{{.Site.Params.HeaderUsername}}</a>
				</li>
				<li>
					<a href="{{ .Site.BaseURL }}contact/">~/Contact me</a>
				</li>
				{{ range .Site.Menus.header }}
				{{ $name := lower .Name }}
				<li class="dropdown">
                    {{ if .HasChildren }}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{ range .Children }}
                    		<li>
                    		<a href="{{ .URL }}">~/{{ lower .Name }}</a>
				    		</li>
                		{{ end }}
            		</ul>
            		{{ else }}
            		<a href="{{ .URL }}">~/{{ lower .Name }}</a>
            		{{ end  }}
        		</li>
        		{{ end }}
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
</header>
